tensorflow==2.15.0
tensorflow-probability==0.21.0
tensorflow-addons==0.21.0
keras==2.15.0
keras-tuner==1.2.7
numpy==1.21.4
scikit-learn==1.6.1
matplotlib==3.10.1
seaborn==0.13.2
tqdm==4.67.1
pycbc==2.8.2
astropy==6.1.7
scipy==1.12.2
pandas==2.1.3
